@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  /* background-color: #002142; */
  background-image: linear-gradient(to right, #002142, #00152a);
  background-size: cover;
  /* background-repeat: no-repeat; */
}

p {
  color: aliceblue
}

h1 {
  color: aliceblue
}
